<!DOCTYPE html>
<html lang="en">
<center>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <h3><p style = "color:rgb(238, 22, 50)">Enter your Username and password to continue </p></h3>
</head>

<body bgcolor="ECEAAB">
<form action="/form_login" method="post">
  <h2><p style = "color:rgb(14, 58, 204)">Username</p></h2>
  <input type="text" name='username'><br>
  <h2><p style = "color:rgb(14, 58, 204)">Password</p></h2><br>
  <input type="password" name='password' ><br><br>
<input type="submit" value="Login"></h2>
</form>
<h3>{{info}}</h3>
</center>
</body>
</html>
